@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Chewy|Fredoka+One|Rubik+Mono+One|Sacramento|Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fredoka+One|Rubik+Mono+One|Sacramento|Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fredoka+One|Sacramento|Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fredoka+One|Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


//all fonts that are imported
/*font-family: 'Fredoka One', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Chewy', cursive;*/